<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Github Profile</title>
  </head>
  <body>
    <header class="navigation">
      <div class="navigation__left">
        <img class="navigation__left--icon" src="../images/content/github.svg" />
        <form class="navigation__left__form">
          <input type="text" class="navigation__left__input" placeholder="Search or jump to..."/>
        </form>
        <ul class="navigation__left__lists">
          <li class="navigation__left__lists"><a class="navigation__left__link" href="#">Pull requests</a></li>
          <li class="navigation__left__lists"><a class="navigation__left__link" href="#">Issues</a></li>
          <li class="navigation__left__lists"><a class="navigation__left__link" href="#">Codespaces</a></li>
          <li class="navigation__left__lists"><a class="navigation__left__link" href="#">Marketplace</a></li>
          <li class="navigation__left__lists"><a class="navigation__left__link" href="#">Explore</a></li>
        </ul>
      </div>
      <div class="navigation__right">NAV RIGHT</div>
    </header>
    <nav class="sidenav">
      SIDE NAVIGATION
    </nav>
    <main class="main">
      MAIN
    </main>
  </body>
</html>
